.section__footer {
  background-color: #f5f5f5;
  padding: 3rem 0;
}
.section__footer__container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  width: 80%;
}

.section__footer__texto {
  text-align: center;
  width: 100%;
}

.section__footer__year {
  text-align: center;
  width: 100%;
}
