.section__titulo {
  background-color: #fff;
  padding: 1.5rem 0;
  width: 100%;
}

.section__titulo__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.section__titulo__form__input__container {
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  width: 15rem;
}

.section__titulo__form__input__ingreso {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  width: 100%;
}

.section__titulo__form__input__img {
  height: 1rem;
  width: 1rem;
}

.section__titulo__form__input__img:hover{
  cursor: pointer;
}

.section__titulo__form__search__container {
  display: none;
}

.section__titulo__btn {
  background-color: #2a7ae4;
  border-radius: 0.625rem;
  color: #fff;
  height: 3rem;
  width: 10rem;
}

.section__titulo__btn:hover {
  background-color: #162f50;
}

.section__titulo__btn:hover{
  cursor: pointer;
}
/*
  .section__titulo__form__logo__container{
    height: 1rem;
    width: 1rem;
  }
  
  .section__titulo__form__logo__container img{
    width: 100%;
  }*/
