.section__productos {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 80%;
}

.section__productos__titulo__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  width: 100%;
}

/*.section__productos__titulo__container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    width: 100%;
  }*/

.section__productos__titulo__titulo {
  font-size: 2rem;
}

.section__productos__titulo__enlace {
  color: #2a7ae4;
  float: left;
  font-size: 1.3rem;
  text-decoration: none;
}

.section__productos__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.section__productos__cards__card {
  /*border: 1px solid green;*/
  margin: 1.5rem 0.9rem 1rem 0;
  width: 13rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #676666;
}

.section__productos__cards__card img {
  width: 100%;
}

.section__productos__cards__card__titulo {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.section__productos__cards__card__precio {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.section__productos__cards__card__enlace {
  color: #2a7ae4;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}
